<br ><br >
<div class="jumbotron text-center">
    <h1>Welcome to JetX</h1>
    <h3>A troubleshooting site where users can fix their computers.</h3>
</div>

<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
        <%= image_tag("/simplecodecasts_saas/app/assets/images/11083947-phone-repair-on-white-background-isolated-3d-image3.jpg") %>
        <%= image_tag("/simplecodecasts_saas/app/assets/images/computer-repair.gif") %>
        <%= image_tag("/simplecodecasts_saas/app/assets/images/tablet-repair__28847.jpg") %>
    </div>
    </div>
</div>